{% extends "template.html" %}

{% block title %}
  Recipe for Delicious
{% endblock %}

{% block body %}
  <div class="recipes">
	{% if recipes %}
	  {% for r in recipes %}
		<div class="recipe">
		  <h3>{{ r.title }}</h3>
		  {% if current_user.is_authenticated() %}
			<ul class="nav nav-pills">
			<li>
			  <a href="{{ url_for('manage_bp.edit', id_=r.id) }}">Edit this Recipe</a>
			</li>
			<li>
			  <a href="{{ url_for('manage_bp.amount_add', id_=r.id) }}">Add Ingredient Amount this Recipe</a>
			</li>
			<li>
			<form style="float: right" method="post" action="{{ url_for('manage_bp.delete', id_=r.id) }}">
			  <button type="submit" class="btn btn-default">Delete</button>
			</form>
			</li>
			</ul>
		  {% endif %}
		  <p>{{ r.posted_on|datetimeformat }}</p>

		  {% if r.ingredient_amounts.all()|length %}
			<div class="list-group">
			  {% for a in r.ingredient_amounts.all() %}
				<span class="list-group-item">
				  {{ a.ingredient.name }} &mdash; {{ a.amount }}
				  {% if current_user.is_authenticated() %}
					|
					<span>
					  <a href="{{ url_for('manage_bp.amount_edit', id_=a.id) }}">Edit Amount</a>
					</span>
					
					<form style="float: right; display: inline" method="post" action="{{ url_for('manage_bp.amount_delete', id_=a.id) }}">
					  <button style="padding: 0px 6px" type="submit" class="btn btn-default">Delete</button>
					</form>
				  {% endif %}
				</span>
			  {% endfor %}
			</div>
		  {% endif %}
		  
		  <p>{{ r.content }}</p>
		</div>
	  {% endfor %}
	{% else %}
	  <p>Nada. Bupkis.</p>
	{% endif %}
  </div>
{% endblock %}
