<!doctype html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//bootswatch.com/amelia/bootstrap.css" />
  <script src="{{ url_for('static', filename='style.css') }}"></script>
</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="{{ url_for('index') }}" class="navbar-brand">Recipe for Delicious</a>
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
		<ul class="nav navbar-nav">
		  {% if current_user.is_authenticated() %}
			<li>
			  <a href="{{ url_for('logout') }}">Logout</a>
			</li>
			<li>
			  <a href="{{ url_for('manage_bp.add') }}">Post New</a>
			</li>
			<li>
			  <a href="{{ url_for('manage_bp.ingredients') }}">Manage Ingredients</a>
			</li>
		  {% else %}
			<li>
			  <a href="{{ url_for('login') }}">Login</a>
			</li>
		  {% endif %}
        </ul>
		
        {#<ul class="nav navbar-nav navbar-right">
        </ul>#}
      </div>
    </div>
  </div>

  <div class="container">
  <div class="page-header" id="banner">
  <div class="row">
	<h1>Recipe for Delicious</h1>
  </div>
  </div>

  
    {% block body %}{% endblock %}
  </div>
</body>
</html>
